@model IEnumerable<HumanIndexViewModel>
@{
    ViewData["Title"] = "Humans";
}

<a asp-action="Create" asp-controller="Human">Create New</a>
<table class="table" style="text-align: center">
    <tr>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Age</th>
        <th>Country</th>
    </tr>
    @foreach (var human in Model)
    {
<tr>
    <td>@human.FirstName</td>
    <td>@human.LastName</td>
    <td>@human.Age</td>
    <td><a asp-action="Index" asp-controller="Country" asp-route-id="@human.CountryId">@human.Country</a></td>
    <td><a asp-action="Edit" asp-controller="Human" asp-route-id="@human.Id">Edit</a></td>
     <td><a asp-action="DeleteHuman" asp-controller="Human" asp-route-id="@human.Id">Delete</a></td>
</tr>
    }
</table>
