@model Country
@using (Html.BeginForm("UpdateCountry", "Country", "@Model.Id", FormMethod.Post))
{
    <p>
        @Html.Hidden("Id")
        @Html.Label("Name", "Name")
        @Html.TextBox("Name")
    </p>

    <p>
        @Html.Label("Population", "Population")
        @Html.EditorFor(c => c.Population)
    </p>

    <p>
        @Html.Label("SickCount", "SickCount")
        @Html.EditorFor(c => c.SickCount)
    </p>
    <p>
        @Html.Label("DeadCount", "DeadCount")
        @Html.EditorFor(c => c.DeadCount)
    </p>
    <p>
        @Html.Label("RecoveredCount", "RecoveredCount")
        @Html.EditorFor(c => c.RecoveredCount)
    </p>

    <p>
        @Html.Label("Vaccine", "Vaccine")
        @Html.CheckBox("Vaccine")
    </p>

    <p>
        <input type="submit" value="Save changes" />
    </p>

}